@import "./base/base";

@import "./mixin/mixin";

@import "./colors/colors";

@import "./fonts/fonts";




#ham-icon div {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
    z-index: 10;
}

img {
    max-width: 100%;
    height: auto;
}

.ham-container {
    width: auto;
}

/*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open {
    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 2px);
        transform: rotate(-45deg) translate(-6px, 2px);
    }

    .bar2 {
        opacity: 0;
    }

    .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -3px);
        transform: rotate(45deg) translate(-6px, -3px);
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        /*stacks each link on top of each other on mobile*/
        align-items: center;
        justify-content: center;
        z-index: 3;
        height: 100vh;
        margin-left: auto;
        top: 0;
        width: 70%;
        right: 0;
        box-shadow: -1px 9px 90px 180px #2d324d59;
        border-radius: 4px;
        padding: 32px 0;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        font-family: $liv, $sans;
        background-color: $midnight-green;
        background-image: url('/assets/bg-pattern-home-2.svg');
        background-repeat: no-repeat;
        background-position: 60px 525px;
        background-size: contain;
        li {
            padding: 0.5rem;

            a {
                color: $white;
                font-weight: 600;
                font-size: 1.125rem;
            }
        }
    }
}


/*once user opens the icon the links will display in a stacked view*/
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    /*fixed height of header*/
    left: 0;
    height: calc(70vh - 50px);
    /*takes the full remaining space of site hence width 100. set the height to 100 and subtract it from the height of header*/
    width: 100%;
    margin-top: 10px;
    font-size: 1.5rem;
    /*sets the background of the menu once user opens the icon. I want to make this transition more seamless. (future update)*/
    background-color: white;

    a {
        color: #000;
    }

    li {
        margin-bottom: 10px;
    }
}

.contact-btn{
    width: 159px;
    height: 48px;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 24px;
    font-family: $liv, $sans;
    text-transform: lowercase;
    font-weight: 600;
    color: $white;
    font-size: 1.125rem;
}

//mobile
@media only screen and (min-width: 375px){
    .intro-container{
        background-color: $midnight-green;
        background-image: url('/assets/bg-pattern-home-2.svg');
        background-repeat: no-repeat;
        background-position: 0px bottom;
        background-size: contain;
        height: 100vh;
        .menu-bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
            &__logo{
                margin: 48px 0;
            }
            &__wrapper{
                display: none;
            }
        }
        .talent-container{
            width: 90%;
            margin: 0 auto;
            &__content{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: $liv, $sans;
                text-align: center;
                gap: 1.125rem;
                h1{
                    font-size: 2.5rem;
                    color: $white;
                    margin: 0 auto;
                    width: 70%;
                    .highlight{
                        color: $light-coral;
                    }
                }
                p{
                    color: $white;
                    font-weight: 600;
                    line-height: 1.75rem;
                }
            }
        }
    }
    //features
    .features-container{
        background-color: $deep-jungle-green;
        background-image: url('/assets/bg-pattern-home-3.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 280px 0px;
        &__heading{
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 65%;
            margin-left: 24px;
            margin-bottom: 56px;
            h2{
                font-size: 2rem;
                font-weight: 700;
                font-family: $liv, $sans;
                color: $white;
            }
            .line{
                width: 50px;
                height: 4px;
                background-color: $light-coral;
                margin-top: 4rem;

            }

        }
        &__wrapper{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 90%;
            margin: 0 auto;
            padding-bottom: 56px;
            &__card{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                margin: 0 auto;
                gap: 16px;
                &__content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    width: 90%;
                    margin: 0 auto;
                    text-align: center;
                    font-family: $liv, $sans;
                    h3{
                        color: $light-coral;
                        font-size: 1.125rem;
                        font-weight: 700;
                    }
                    p{
                        color: $rapture-blue;
                        font-weight: 600;
                        line-height: 1.75rem;
                    }
                }
            }
        }
    }
    //--end features--//

    //reviews

    .reviews{
        background-color: $midnight-green;
        background-image: url('/assets/bg-pattern-home-5.svg'), url(/assets/bg-pattern-home-4-about-3.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: right bottom, 0% top;
    }
    .review-heading{
        width: 90%;
        margin: 0 auto;
        font-family: $liv, $sans;
        margin-bottom: 48px;
        padding-top: 140px;
        h4{
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
            color: $white;
            .review-highlight{
                color: $rapture-blue;
            }
        }

    }

    .review-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        gap: 48px;
        padding-bottom: 164px;
        &__card{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-family: $liv, $sans;
            background-image: url('/assets/icon-quotes.svg');
            background-repeat: no-repeat;
            background-position-x: 50%;
            gap: 16px;
            q{
                color: $white;
                line-height: 1.75rem;
                font-size: 15px;
                font-weight: 600;
            }
            h5{
                font-weight: 700;
                color: $rapture-blue;
            }
            i{
                color: $white;
                font-size: 13px;
                font-weight: 500;
            }
            &__profile{
                width: 62px;
                height: 62px;
                border: 2px solid $white;
                border-radius: 50%;
                img{
                    border-radius: 50%;
                }
            }
        }
    }

    .get-started-container{
        background-color: $light-coral;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('/assets/bg-pattern-home-3.svg');
        background-repeat: no-repeat;
        background-size: 200px;
        background-position: 0px 310px;
        h5{
            font-family: $liv, $sans;
            font-size: 2rem;
            width: 80%;
            text-align: center;
            font-weight: 700;
            margin-bottom: 30px;
        }
        a{
            color: $dark-green;
        }
        &__btn{
            width: 153px;
            height: 48px;
            background-color: transparent;
            border: 2px solid $dark-green;
            border-radius: 24px;
            font-family: $liv, $sans;
            font-weight: 600;
            font-size: 1.125rem;
        }
    }
    .footer-container{
        height: 55vh;
        background-color: $dark-green;
        width: 100%;
        font-family: $liv, $sans;
        &__menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;
            &__logo{
                margin-top: 66px;
                width: 96px;
            }
            &__list{
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 50%;
                a{
                    color: $white;
                    font-weight: 600;
                }
            }
        }
        &__information{
            color: $rapture-blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 1.75rem;
            margin: 24px auto 40px auto;
            font-weight: 600;
            opacity: 0.6;
        }
        &__socials{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 30%;
            margin: 0 auto 16px auto;
        }

        &__rights{
            text-align: center;
            font-weight: 600;
            color: $rapture-blue;
            font-size: 15px;
            opacity: 0.6;
        }
    }
}

//tablet
@media only screen and (min-width: 768px){
    .ham-container{
        display: none;
    }

    .intro-container{
        background-position: 50% bottom;
        background-size: 358px;
        .menu-bar{
            &__wrapper{
                display: flex;
                align-items: center;
                width: 100%;
                &__list{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    list-style: none;
                    font-family: $liv, $sans;
                    color: $white;
                    width: 40%;
                    margin-right: auto;
                    a{
                        font-weight: 600;
                        color: $white;
                    }
                }
                .contact-btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }
        }

        .talent-container{
            &__content{
                h1{
                    font-size: 4rem;
                    width: 50%;
                }
                p{
                    width: 65%;
                }
            }
        }
    }

    .features-container{
        background-position: 670px 0px;
        &__heading{
            margin-left: 98px;
            h2{
                font-size: 2rem;
            }
        }
        &__wrapper{
            &__card{
                flex-direction: row;
                width: 75%;
                &__content{
                    align-items: flex-start;
                    text-align: left;
                }
            }
        }
    }

    .review-heading{
        width: 75%;
    }
    .review-container{
        &__card{
            width: 75%;
        }
    }

    .get-started-container{
        height: 35vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-position: 0px 75px;
        h5{
            margin: 0;
            width: 45%;
        }
    }

    .footer-container{
        height: 44vh;
        position: relative;
        &__menu{
            position: absolute;
            width: 14%;
            right: 84.47%;
            top: -40%;
            left: 5%;
            bottom: 0%;
            gap: 53px;
            &__logo{
                margin-top: 56px;
            }
            &__list{
                gap: 24px;
            }
        }
        &__information{
            position: absolute;
            width: 36%;
            align-items: flex-end;
            left: 59.36%;
            right: 0%;
            top: -18%;
            bottom: 0%;
            margin: 0;
        }
        &__socials{
            position: absolute;
            top: 70%;
            width: 14%;
            left: 5%;
        }
        &__rights{
            position: absolute;
            width: 33%;
            top: 70%;
            right: 0%;
        }
    }
}

//laptop

@media only screen and (min-width: 1440px){
    .intro-container{
        background-position: 85% bottom, -18% ;
        background-image: url('/assets/bg-pattern-home-2.svg'), 
        url(/assets/bg-pattern-home-1.svg);
        background-repeat: no-repeat, no-repeat;
        .menu-bar{
            width: 80%;
            &__wrapper{
                &__list{
                    width: 10%;
                    margin-left: 5%;
                    gap: 40px;
                    a{
                        transition: all 250ms ease-in-out;
                        @include hover{
                            cursor: pointer;
                            color: $light-coral;
                        }
                    }
                }
                .contact-btn{
                    transition: all 250ms ease-in-out;
                    @include hover{
                        cursor: pointer;
                        background-color: $white;
                        color: $dark-green;
                    }
                }
            }
        }

        .talent-container{
            &__content{
                flex-direction: row;
                text-align: left;
                justify-content: center;
                margin-top: 129px;
                h1{
                    font-size: 100px;
                    width: 44%;
                    margin: 0;
                }
                p{
                    width: 30%;
                }
            }
        }

    }

    .features-container{
        height: 91vh;
        display: flex;
        align-items: center;
        background-position: 105% 100%;
        &__heading{
            position: relative;
            top: -15%;
            h2{
                font-size: 3rem;

            }
        }
        &__wrapper{
            &__card{
                &__content{
                    p{
                        width: 81%;
                    }
                }
            }
        }
    }

    .review-heading{
        width: 65%;
        h2{
            font-size: 3rem;
        }
    }

    .review-container{
        flex-direction: row;
        &__card{
            q{
                width: 90%;
            }
            h4{
                font-size: 1.125rem;
            }
        }
    }

    .get-started-container{
        h5{
            font-size: 3rem;
        }
        &__btn{
            transition: all 250ms ease-in-out;
            @include hover{
                cursor: pointer;
                background-color: $dark-green;
                color: $white;
            }
        }
    }

    .footer-container{
        height: 26vh;
        &__menu{
            gap: 25px;
            &__list{
                a{
                    transition: all 250ms ease-in-out;
                    @include hover{
                        cursor: pointer;
                        color: $light-coral;
                    }
                }
            }
        }
        &__information{
            left: 29.04%;
            width: 40%;
            align-items: flex-start;
            top: 5%;
        }
        &__socials{
            right: 8%;
            left: auto;
            top: 30%;
            img{
                @include hover{
                    cursor: pointer;
                }
            }
        }
    }
}