@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#ham-icon div {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
  z-index: 5;
}

img {
  max-width: 100%;
  height: auto;
}

.ham-container {
  width: auto;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  height: 100vh;
  position: fixed;
  right: -100%;
  width: 70%;
  list-style: none;
  top: 0;
  font-size: 1.5rem;
  transition: all 0.3s linear;
  background-color: #014e56;
  background-image: url("/assets/bg-pattern-about-1-mobile-nav-1.svg");
  background-repeat: no-repeat;
  background-position: 200% bottom;
  background-size: 200px 200px;
  font-family: "Livvic", sans-serif;
  gap: 1rem;
}
.mobile-menu li {
  padding: 0.5rem;
}
.mobile-menu li a {
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
}

/*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 2px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  transform: rotate(45deg) translate(-6px, -3px);
}
.open .mobile-menu {
  margin-left: auto;
  right: 0;
  box-shadow: -1px 9px 90px 180px rgba(45, 50, 77, 0.3490196078);
  margin-top: 0;
  margin-bottom: 0;
}

/*once user opens the icon the links will display in a stacked view*/
.contact-btn {
  width: 159px;
  height: 48px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 24px;
  font-family: "Livvic", sans-serif;
  text-transform: lowercase;
  font-weight: 600;
  color: white;
  font-size: 1.125rem;
}

@media only screen and (min-width: 375px) {
  .intro-container {
    background-color: #014e56;
    background-image: url("/assets/bg-pattern-home-2.svg");
    background-repeat: no-repeat;
    background-position: 0px bottom;
    background-size: contain;
    height: 100vh;
  }
  .intro-container .menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .intro-container .menu-bar__logo {
    margin: 48px 0;
  }
  .intro-container .menu-bar__wrapper {
    display: none;
  }
  .intro-container .talent-container {
    width: 90%;
    margin: 0 auto;
  }
  .intro-container .talent-container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Livvic", sans-serif;
    text-align: center;
    gap: 1.125rem;
    height: 50vh;
    justify-content: center;
  }
  .intro-container .talent-container__content h1 {
    font-size: 2.5rem;
    color: white;
    margin: 0 auto;
    width: 70%;
  }
  .intro-container .talent-container__content h1 .highlight {
    color: #f67e7e;
  }
  .intro-container .talent-container__content p {
    color: white;
    font-weight: 600;
    line-height: 1.75rem;
  }
  .features-container {
    background-color: #002529;
    background-image: url("/assets/bg-pattern-home-3.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 280px 0px;
  }
  .features-container__heading {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 65%;
    margin-left: 24px;
    margin-bottom: 56px;
  }
  .features-container__heading h2 {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Livvic", sans-serif;
    color: white;
  }
  .features-container__heading .line {
    width: 50px;
    height: 4px;
    background-color: #f67e7e;
    margin-top: 4rem;
  }
  .features-container__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 56px;
  }
  .features-container__wrapper__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 16px;
  }
  .features-container__wrapper__card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: "Livvic", sans-serif;
  }
  .features-container__wrapper__card__content h3 {
    color: #f67e7e;
    font-size: 1.125rem;
    font-weight: 700;
  }
  .features-container__wrapper__card__content p {
    color: #79c8c7;
    font-weight: 600;
    line-height: 1.75rem;
  }
  .reviews {
    background-color: #014e56;
    background-image: url("/assets/bg-pattern-home-5.svg"), url(/assets/bg-pattern-home-4-about-3.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, 0% top;
  }
  .review-heading {
    width: 90%;
    margin: 0 auto;
    font-family: "Livvic", sans-serif;
    margin-bottom: 48px;
    padding-top: 140px;
  }
  .review-heading h4 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: white;
  }
  .review-heading h4 .review-highlight {
    color: #79c8c7;
  }
  .review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap: 48px;
    padding-bottom: 164px;
  }
  .review-container__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Livvic", sans-serif;
    background-image: url("/assets/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    gap: 16px;
  }
  .review-container__card q {
    color: white;
    line-height: 1.75rem;
    font-size: 15px;
    font-weight: 600;
  }
  .review-container__card h5 {
    font-weight: 700;
    color: #79c8c7;
  }
  .review-container__card i {
    color: white;
    font-size: 13px;
    font-weight: 500;
  }
  .review-container__card__profile {
    width: 62px;
    height: 62px;
    border: 2px solid white;
    border-radius: 50%;
  }
  .review-container__card__profile img {
    border-radius: 50%;
  }
  .get-started-container {
    background-color: #f67e7e;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/bg-pattern-home-3.svg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 0px 310px;
  }
  .get-started-container h5 {
    font-family: "Livvic", sans-serif;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .get-started-container__btn {
    width: 153px;
    height: 48px;
    background-color: transparent;
    border: 2px solid #002529;
    border-radius: 24px;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    color: #002529;
    font-size: 1.125rem;
  }
  .footer-container {
    height: 55vh;
    background-color: #002529;
    width: 100%;
    font-family: "Livvic", sans-serif;
  }
  .footer-container__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .footer-container__menu__logo {
    margin-top: 66px;
    width: 96px;
  }
  .footer-container__menu__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
  }
  .footer-container__menu__list a {
    color: white;
    font-weight: 600;
  }
  .footer-container__information {
    color: #79c8c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.75rem;
    margin: 24px auto 40px auto;
    font-weight: 600;
    opacity: 0.6;
  }
  .footer-container__socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin: 0 auto 16px auto;
  }
  .footer-container__rights {
    text-align: center;
    font-weight: 600;
    color: #79c8c7;
    font-size: 15px;
    opacity: 0.6;
  }
}
@media only screen and (min-width: 768px) {
  .ham-container {
    display: none;
  }
  .intro-container {
    background-position: 50% bottom;
    background-size: 358px;
  }
  .intro-container .menu-bar__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .intro-container .menu-bar__wrapper__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-family: "Livvic", sans-serif;
    color: white;
    width: 40%;
    margin-right: auto;
  }
  .intro-container .menu-bar__wrapper__list a {
    font-weight: 600;
    color: white;
  }
  .intro-container .menu-bar__wrapper .contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intro-container .talent-container__content h1 {
    font-size: 4rem;
    width: 50%;
  }
  .intro-container .talent-container__content p {
    width: 65%;
  }
  .features-container {
    background-position: 670px 0px;
  }
  .features-container__heading {
    margin-left: 98px;
  }
  .features-container__heading h2 {
    font-size: 2rem;
  }
  .features-container__wrapper__card {
    flex-direction: row;
    width: 75%;
  }
  .features-container__wrapper__card__content {
    align-items: flex-start;
    text-align: left;
  }
  .review-heading {
    width: 75%;
  }
  .review-container__card {
    width: 75%;
  }
  .get-started-container {
    height: 35vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-position: 0px 75px;
  }
  .get-started-container h5 {
    margin: 0;
    width: 45%;
  }
  .footer-container {
    height: 44vh;
    position: relative;
  }
  .footer-container__menu {
    position: absolute;
    width: 14%;
    right: 84.47%;
    top: -40%;
    left: 5%;
    bottom: 0%;
    gap: 53px;
  }
  .footer-container__menu__logo {
    margin-top: 56px;
  }
  .footer-container__menu__list {
    gap: 24px;
  }
  .footer-container__information {
    position: absolute;
    width: 36%;
    align-items: flex-end;
    left: 59.36%;
    right: 0%;
    top: -18%;
    bottom: 0%;
    margin: 0;
  }
  .footer-container__socials {
    position: absolute;
    top: 70%;
    width: 14%;
    left: 5%;
  }
  .footer-container__rights {
    position: absolute;
    width: 33%;
    top: 70%;
    right: 0%;
  }
}
@media only screen and (min-width: 1440px) {
  .intro-container {
    background-position: 85% bottom, -18%;
    background-image: url("/assets/bg-pattern-home-2.svg"), url(/assets/bg-pattern-home-1.svg);
    background-repeat: no-repeat, no-repeat;
  }
  .intro-container .menu-bar {
    width: 80%;
  }
  .intro-container .menu-bar__wrapper__list {
    width: 10%;
    margin-left: 5%;
    gap: 40px;
  }
  .intro-container .menu-bar__wrapper__list a {
    transition: all 250ms ease-in-out;
  }
  .intro-container .menu-bar__wrapper__list a:not([disabled]):hover {
    cursor: pointer;
    color: #f67e7e;
  }
  .intro-container .menu-bar__wrapper .contact-btn {
    transition: all 250ms ease-in-out;
  }
  .intro-container .menu-bar__wrapper .contact-btn:not([disabled]):hover {
    cursor: pointer;
    background-color: white;
    color: #002529;
  }
  .intro-container .talent-container__content {
    flex-direction: row;
    text-align: left;
    justify-content: center;
    margin-top: 129px;
  }
  .intro-container .talent-container__content h1 {
    font-size: 100px;
    width: 44%;
    margin: 0;
  }
  .intro-container .talent-container__content p {
    width: 30%;
  }
  .features-container {
    height: 91vh;
    display: flex;
    align-items: center;
    background-position: 105% 100%;
  }
  .features-container__heading {
    position: relative;
    top: -15%;
  }
  .features-container__heading h2 {
    font-size: 3rem;
  }
  .features-container__wrapper__card__content p {
    width: 81%;
  }
  .review-heading {
    width: 65%;
  }
  .review-heading h2 {
    font-size: 3rem;
  }
  .review-container {
    flex-direction: row;
  }
  .review-container__card q {
    width: 90%;
  }
  .review-container__card h4 {
    font-size: 1.125rem;
  }
  .get-started-container h5 {
    font-size: 3rem;
  }
  .get-started-container__btn {
    transition: all 250ms ease-in-out;
  }
  .get-started-container__btn:not([disabled]):hover {
    cursor: pointer;
    background-color: #002529;
    color: white;
  }
  .footer-container {
    height: 26vh;
  }
  .footer-container__menu {
    gap: 25px;
  }
  .footer-container__menu__list a {
    transition: all 250ms ease-in-out;
  }
  .footer-container__menu__list a:not([disabled]):hover {
    cursor: pointer;
    color: #f67e7e;
  }
  .footer-container__information {
    left: 29.04%;
    width: 40%;
    align-items: flex-start;
    top: 5%;
  }
  .footer-container__socials {
    right: 8%;
    left: auto;
    top: 30%;
  }
  .footer-container__socials img:not([disabled]):hover {
    cursor: pointer;
  }
}/*# sourceMappingURL=styles.css.map */